NativeControlLayering/NativeControlLayering.Droid/bin
NativeControlLayering/NativeControlLayering.Droid/obj
NativeControlLayering/NativeControlLayering/bin
NativeControlLayering/NativeControlLayering/obj
packages